h1{
    /* border-style: solid;
    border-width: 3px;
    border-color: hsl(273, 100%, 54%); */
    border: 3px solid hsl(273, 100%, 54%);
    border-radius: 20px;
}
p{
    border-bottom: 3px dotted rgb(252, 28, 28);
    border-top: 3px solid rgb(255, 255, 35);
    border-left: 3px dashed rgb(255, 37, 179);
    border-right: 3px inset rgb(62, 255, 62);

}